<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Bayern munchen offical store</h1>
    <h3>if you pay 500$+ you can get a chance to play with the players in their training this weekend</h3>
    <h2>we have all that a fan needs from jerssies , shoes and kits</h2>
    
    <img src="../static/img/bayern.jpeg">
    <img src="../static/img/bayern1.jpeg">
    <img src="../static/img/bayern2.jpeg">
    <img src="../static/img/bayern4.jpeg">
    <h4>we also have souveniers</h3>
    <img src="../static/img/bayern3.jpeg">
    <img src="../static/img/bayern5.jpeg">
    <img src="../static/img/bayern6.jpeg">
    <img src="../static/img/bayern7.jpeg">
</body>
</html>